body {
  background-image: url('../fonts/fond-ecran.jpg');
}


.progress-bar-green {
    background-color: green !important;
}
.hide{
  display: none;
}

 .nav-item {
  margin-right: 20px;
}

 #validBtn1, #validBtn2{
 width: 87px;
 margin-top: 15px
}

#name1, #name2 {
  width:200px ;
}

