.progress-bar-green {
    background-color: green !important;
}
.hide{
  display: none;
}

 .nav-item {
  margin-right: 20px;
}

 #validBtn1, #validBtn2{
 width: 87px;
 margin-top: 15px
}
label {
  margin-left: ;
}
#name1, #name2 {
  width:200px ;
}

/* .background {
  background-image: url(../fonts/image.ico);
  background-repeat: no-repeat;
} */