@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.progress-bar-green {
    background-color: green !important;
}
.hide{
  display: none;
}

.scroll{
  height: 200px;
  overflow: auto;
  padding: 0rem 0rem;
}

.nav-item {
  margin-right: 20px;
}

 #validBtn1, #validBtn2{
 width: 87px;
 margin-top: 15px
}

#name1, #name2 {
  width:200px ;
}

.icone14{
    height: 14px;
    width: 14px;
}
body{
    font-family: 'Roboto', sans-serif;
}
